.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  text-align: justify;
}

.app-header {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 20px;

  background-color: #ffdb91;

  font-family: 'Balsamiq Sans', sans-serif;
  font-size: calc(18px + 3vmin);
  text-align: center;
}

.main-content {
  max-width: 800px;

  margin: 0 auto 10px auto;
  padding: 10px;

  line-height: 1.5;
}

.footer-block {
  margin-top: auto;
  border-top: 2px solid #f5e5bc;
  padding-bottom: 12px;
  padding-top: 12px;

  color: #504a4a;
  font-family: 'Balsamiq Sans', sans-serif;
  font-size: 14px;
  text-align: center;
}