.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  text-align: justify;
}

.app-header {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 20px;

  background-color: #ffdb91;

  font-family: 'Balsamiq Sans', sans-serif;
  font-size: calc(18px + 3vmin);
  text-align: center;
}

.lang-button {
  opacity: 0.7;
  transition: 200ms all ease-in;

  border: none;
  background: transparent;
  margin-left: 20px;
  padding-top: 10px;

  vertical-align: top;
  font-size: calc(16px + 1vmin);
}

.lang-button:hover {
  opacity: 1;
}

.main-content {
  max-width: 800px;

  margin: 0 auto 10px auto;
  padding: 10px;

  line-height: 1.5;
}

.main-content ul {
  margin-top: 4px;
}

.main-headers {
  margin-top: 20px;
  margin-bottom: 0;

  font-family: 'Balsamiq Sans', sans-serif;
  font-size: calc(14px + 2vmin);
  font-weight: normal;
  text-align: center;
}

.tight-list {
  padding-inline-start: 30px;
}

.footer-block {
  margin-top: auto;
  border-top: 2px solid #f5e5bc;
  padding-bottom: 12px;
  padding-top: 12px;

  color: #504a4a;
  font-family: 'Balsamiq Sans', sans-serif;
  font-size: 14px;
  text-align: center;
}